<div id="zurl-login-form" class="zurl-form">
	<div class="zurl-form-header">Login</div>
	<div class="zurl-form-content">
		<form method="post">
			<div class="zurl-form-row">
				<div class="zurl-form-field-name">Uesername</div>
				<div class="zurl-form-field">:<input type="text" name="username" /></div>
				<div class="clear"></div>
			</div>
			<div class="zurl-form-row">
				<div class="zurl-form-field-name">Password</div>
				<div class="zurl-form-field">:<input type="password" name="password" /></div>
				<div class="clear"></div>
			</div>
			<div class="zurl-form-row">
				<div class="zurl-form-field zurl-form-field-login">
					<input type="hidden" name="mod_login_action" value="login" />
					<input type="submit" name="login" value="Let me in"/>
				</div>
				<div class="clear"></div>
			</div>
		</form>
	</div>
</div>